body {
    font-family: sans-serif;
}

h1 {
    color: yellow;
    background-color: green;
    width: 1000px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 20px;
    padding: 50px;
}

p {
    width: 900px;
}

img {
    width: 200px;
    height: 100px;
    justify-content: space-between;
}
.ayo {
    color: white;
    text-align: center;
    background-color: blue;
    width: 180px;
}

.social img {
    width: 100px;
    height: 100px;
}

.kk {
    width: 200px;
    height: 275px;
    position: absolute;
    left: 900px;
    top: 250px;
}

.kp {
    color: red;
}


td {
    border: 1px solid black;
    border-collapse:collapse ;
}

table {
    border: 1px solid black;
    margin: 20px;
}



.link-header {
    text-decoration: none;
    border: 1px solid red;
    padding: 5px 20px 10px 20px;
    background-image: linear-gradient(to right, rgb(220, 20, 60), rgb(86, 133, 236));
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    bottom: 175px;
}

.link-header:hover {
    box-shadow: inset 5px 5px 5px 5px black;
    transition: 3s linear;
}

.kkk {
    position: absolute;
    width: 50px;
    height: 25px;
    left: 75px;
    top: 675px;
}

iframe {
    position: relative;
    top: 25px;
}

header {
    background-color: rgb(255, 245, 238);
    padding: 10px;
}

.logo {
    margin: 50px;
    position: relative;

}


footer {
    background-color: rgb(255, 245, 238);
    padding: 5px;
    margin-top: 10px;
}
